@model IEnumerable<BDAutoASP.Models.Annonce>

@{
    ViewBag.Title = "Ajout";
}

<h2>Ajout</h2>



<table class="table">
    <tr>
        <th>
            @Html.Label("Modele")
        </th>
        <th>
            @Html.Label("Proprio")
        </th>
        <th>
            @Html.Label("Annee")
        </th>
        <th>
            @Html.Label("kilometrage")
        </th>
        <th>
            @Html.Label("Couleur")
        </th>
        <th>
            @Html.Label("Prix")
        </th>
        <th>
            @Html.Label("Statut")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modele.MNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprio.PNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAnnee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AKilometrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACouleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APrix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AStatut)
            </td>
        </tr>
    }

</table>
