@model List<ASPAppliFinale.ViewModel.VMAnnonce>

@{
    ViewBag.Title = "Resultat";
}

<h2>Voiture Disponible à la vente</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Marque")
        </th>
        <th>
            @Html.Label("Model")
        </th>
        <th>
            @Html.Label("Annee")
        </th>
        <th>
            @Html.Label("kilometrage")
        </th>
        <th>
            @Html.Label("Couleur")
        </th>
        <th>
            @Html.Label("Prix")
        </th>
        <th>
            @Html.Label("Statut")
        </th>
        <th>
            @Html.Label("Nom du proprio")
        </th>
        <th>
            @Html.Label("Prenom du proprio")
        </th>
        <th>
            @Html.Label("Numéro de tel")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VMMarque.MNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMModele.MNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMAnnonc.AAnnee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMAnnonc.AKilometrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMAnnonc.ACouleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMAnnonc.APrix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMAnnonc.AStatut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMProprio.PNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMProprio.PPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMProprio.PNumTel)
            </td>
        </tr>
    }

</table>
