@model ASPAppliFinale.ViewModel.VMParamRecherche

@{
    ViewBag.Title = "Ajout";
}

<h2>Chercher une voiture à vendre</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Marque", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDMarque", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDMarque, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Modele", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDModel", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDModel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Annee Min", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AAnnee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AAnnee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Kilometrage Max", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AKilometrage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AKilometrage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Couleur", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ACouleur, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ACouleur, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Prix Max", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.APrix, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.APrix, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}